html, body {
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;
 }

 #pano {
         width: 200px;
         height: 200px;
       }
