extends layout

block content
  .row
    .col-xs-6.col-xs-offset-3.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4
      h1= title

  .row
    .col-xs-12.col-sm-8.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4

      .form-group.row
        label.col-xs-2.col-form-label(for='example-name-input') Your Name:
        .col-xs-9.col-xs-offset-1
          input#example-name-input.form-control(type='text')
      .form-group.row
        label.col-xs-2.col-form-label(for='example-bus-name-input') Business:
        .col-xs-9.col-xs-offset-1
          input#example-bus-name-input.form-control(type='search')
      .form-group.row
        label.col-xs-2.col-form-label(for='example-email-input') Email:
        .col-xs-9.col-xs-offset-1
          input#example-email-input.form-control(type='email')
      .form-group.row
        label.col-xs-2.col-form-label(for='example-url-input') Site URL:
        .col-xs-9.col-xs-offset-1
          input#example-url-input.form-control(type='url')
      .form-group.row
        label.col-xs-2.col-form-label(for='example-mob-input') Mobile:
        .col-xs-9.col-xs-offset-1
          input#example-mob-input.form-control(type='tel')
      .form-group.row
        label.col-xs-2.col-form-label(for='example-password-input') Description:
        .col-xs-9.col-xs-offset-1
          textarea#example-description-textarea.form-control(type='password', value='hunter2', rows='3')
      .form-group.row
        label.col-xs-2.col-form-label(for='example-bus-type-select') Type of Business:
        .col-xs-9.col-xs-offset-1
          select#example-bus-type-select.form-control
            option Cafe
            option Restaurant
            option Bar
            option Clothing
            option Technology
      .form-group.row
        label.col-xs-2.col-form-label(for='example-bus-type-select') Reason for inquiry:
        .col-xs-9.col-xs-offset-1
          select#example-bus-type-select.form-control(value="Select")
            option I would like to have my business listed.
            option I would like to hear more about the service.
            option Other.




      .list-group
        .list-group-item
          p Phone Number: 1800 123 456
        .list-group-item
          p Email: support@melbit.com
        .list-group-item
          p Blog: melbit.com/blog
