extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Melbit
          small &nbsp;Use Bitcoin at locations near you!
  .row
    .col-xs-12.col-sm.8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Coder Factory
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address 120 Spencer Street, Melbourne, 3000
          p
            span.label.label-warning Hot Code
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Premium Wifi
            | &nbsp;

  .row
    .col-xs-12.col-sm.8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") General Assembly
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 2.3km
          p.address 123 Fake Street, Melbourne, 3000
          p
            span.label.label-warning Smelly Code
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Premium Wifi
            | &nbsp;
    .col-xs-12.col-sm-4
     p.lead Melbit helps you find places to use and spread your bitcoin.
