extends layout

block content
  h1= title

  //- Entry For Blog Post
  .row
    .col-xs-12.col-sm-10.col-md-9.col-lg-9
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Isn't Bitcoin Used For Illegal Things?
          p.description Middle-aged lycra clad cyclists trams, warehouse chic bill clinton ate two bowls north of the river the storm the borek woman, werribee wildlife the melbourne cup emerald peacock north melbourne shinboners the G', the bulldogs the emerald peacock chaddie victory vs heart street art, the corner hotel chopper read the saints.

  //- End of Blog Post Entry

  //- Entry For Blog Post
  .row
    .col-xs-12.col-sm-10.col-md-9.col-lg-9
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") How do I go about buying Bitcoin?
          p.description Middle-aged lycra clad cyclists trams, warehouse chic bill clinton ate two bowls north of the river the storm the borek woman, werribee wildlife the melbourne cup emerald peacock north melbourne shinboners the G', the bulldogs the emerald peacock chaddie victory vs heart street art, the corner hotel chopper read the saints.

  //- End of Blog Post Entry

  //- Entry For Blog Post
  .row
    .col-xs-12.col-sm-10.col-md-9.col-lg-9
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Why would anyone want to use Bitcoin?
          p.description Middle-aged lycra clad cyclists trams, warehouse chic bill clinton ate two bowls north of the river the storm the borek woman, werribee wildlife the melbourne cup emerald peacock north melbourne shinboners the G', the bulldogs the emerald peacock chaddie victory vs heart street art, the corner hotel chopper read the saints.

  //- End of Blog Post Entry

  //- Entry For Blog Post
  .row
    .col-xs-12.col-sm-10.col-md-9.col-lg-9
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") But how does it have any value? Isn't it made from nothing?
          p.description Middle-aged lycra clad cyclists trams, warehouse chic bill clinton ate two bowls north of the river the storm the borek woman, werribee wildlife the melbourne cup emerald peacock north melbourne shinboners the G', the bulldogs the emerald peacock chaddie victory vs heart street art, the corner hotel chopper read the saints.

  //- End of Blog Post Entry

  //- Entry For Blog Post
  .row
    .col-xs-12.col-sm-10.col-md-9.col-lg-9
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") But banks keep me safe, I don't feel safe with Bitcoin.
          p.description Middle-aged lycra clad cyclists trams, warehouse chic bill clinton ate two bowls north of the river the storm the borek woman, werribee wildlife the melbourne cup emerald peacock north melbourne shinboners the G', the bulldogs the emerald peacock chaddie victory vs heart street art, the corner hotel chopper read the saints.

  //- End of Blog Post Entry
