doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/superhero.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/home_style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Melbit

          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a.ul(href='/users/login') Login
              a.ul(href='/users/signup') Signup
              a.ul(href='/blog/') Blog
              a.ul(href='/location/directory') Directory
              a.ul(href='/about/') About
              a.ul(href='/contact/') Contact
              a.ul(href='/faq/') FAQ

    
    block content

      #map

        script.
          var map;
          // Create a new blank array for all the listing markers.
          var markers = [];
          function initMap() {
          // Constructor creates a new map - only center and zoom are required.
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -37.813517, lng: 144.962808},
          zoom: 13
          });
          // These are the real estate listings that will be shown to the user.
          // Normally we'd have these in a database instead.
          var locations = [
          {title: 'Altius Coffee Brewers', location: {lat:-37.819805, lng:144.956597}},
              {title: 'Design Industries', location: {lat:-37.810520, lng:144.946315}},
              {title: 'Imbiss25', location: {lat:-37.870698, lng:144.980169}},
              {title: 'Melbourne Bitcoin Technology Centre', location: {lat:-37.822549, lng:144.965126}},      ];
          var largeInfowindow = new google.maps.InfoWindow();
          var bounds = new google.maps.LatLngBounds();
          // The following group uses the location array to create an array of markers on initialize.
          for (var i = 0; i < locations.length; i++) {
          // Get the position from the location array.
          var position = locations[i].location;
          var title = locations[i].title;
          // Create a marker per location, and put into markers array.
          var marker = new google.maps.Marker({
          map: map,
          position: position,
          title: title,
          animation: google.maps.Animation.DROP,
          id: i
          });
          // Push the marker to our array of markers.
          markers.push(marker);
          // Create an onclick event to open an infowindow at each marker.
          marker.addListener('click', function() {
          populateInfoWindow(this, largeInfowindow);
          });
          bounds.extend(markers[i].position);
          }
          // Extend the boundaries of the map for each marker
          map.fitBounds(bounds);
          }
          // This function populates the infowindow when the marker is clicked. We'll only allow
          // one infowindow which will open at the marker that is clicked, and populate based
          // on that markers position.
          function populateInfoWindow(marker, infowindow) {
          // Check to make sure the infowindow is not already opened on this marker.
          if (infowindow.marker != marker) {
          infowindow.marker = marker;
          infowindow.setContent('<div>' + marker.title + '</div>');
          infowindow.open(map, marker);
          // Make sure the marker property is cleared if the infowindow is closed.
          infowindow.addListener('closeclick',function(){
          infowindow.setMarker(null);
          });
          }
          }

        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDODnasEWZVKvKmIE9aXVTTumJinFZ6I1Y&v=3&callback=initMap')

      footer
        .row
          .col-xs-12
            small &copy; Melbit 2016

      script(src='/javascripts/jquery-3.1.1.js')
      script(src='/bootstrap/js/bootstrap.min.js')
